body {
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important; }

theyframe {
  font-family: 'Didact Gothic', "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  position: absolute;
  background: #FFF;
  color: #000;
  font-weight: 800;
  overflow: hidden;
  text-align: center;
  z-index: 200; }

truth {
  text-transform: uppercase;
  margin: 0 auto; }
